
.header{
   background-image:url(../Assets/Hero-bg.png);
   height: 698px;
}
/* Nav Style*/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left:150px;
    margin-right:150px;
    padding:50px 0px 50px 0px;
}
.Logo{
    color:#4E47FF;
    font-size: 34px;
}
.nav-button{
    color:#FFFFFF;
    background-color: #4E47FF;
    padding: 12px;
    border-radius:10px;
    border-style: none;
}

/* banner style*/

.banner-content{
    text-align: center;
    margin: 158px 267.5px 152px 267.5px;
}
.banner-title{
    width: 905px;;
   
    font-weight: bold;
    font-size:65px;;
}
.banner-button{
    color:#FFFFFF;
    background-color: #4E47FF;
    border-radius:10px;
    padding:12px 36px 12px 36px;
    border-style: none;
    
}
/*main style*/
.main-style{
    background-color:#F2EDED;
}
/* (See It in Action) section style*/
.See-It-in-Action-container{
    width: 1140px;
    height: 328px;
    display: flex;
    padding-top:116px;
    margin-left: 150px;
    gap: 220px;
  
}
.See-It-in-Action-text{
width: 517px;
height: 203px;
}
.See-It-in-Action-title{
    color: #252432;
    font-size:42px;
    font-weight: bold;
}
.See-It-in-Action-p{
    color:rgba(37, 36, 50, 0.5);
    font-size: 24px;
}
.See-It-in-Action-btn{
    background-color: #4E47FF;
    padding: 12px 36px 12px 36px;
    border-radius: 5px;
    border-style:none;
    color:#FFFFFF;
    
}
.See-It-in-Action-img{
    width: 403px;
    height: 328px;
}
/*Joined Thousands of Productive Users style*/

.Joined-Thousands-of-Productive-section{
    width:1140px;
    height:306px;
    margin-top:134px;
    margin-left:150px;
    margin-right:150px;
    margin-bottom:185px;
     background-color:rgba(78, 71, 255, 0.2);
    text-align: center;
    padding-top: 50px;
   
}

.Joined-Thousands-of-Productive-Users-title
{
   margin-top:50px;
   font-size: 42px;
   font-weight: bold;
   margin-bottom: 0px;
}
.Joined-Thousands-of-Productive-Users-num {
    display: flex;
    gap: 158px;
    justify-content: center;
    font-size: 80px;
    font-weight: bold;
    color:#4E47FF;
    margin-top:30px;
    
}
.Joined-Thousands-of-Productive-Users-num h5{
    font-size: 80px;
    font-weight: 800;
    color:#4E47FF;
    margin: 0px;
}
.Joined-Thousands-of-Productive-Users-text{
        display: flex;
        font-size:22px; 
        justify-content: center;
        gap:180px;    
}
.Joined-Thousands-of-Productive-Users-text p{
    margin-top:0px;
    color:rgba(37, 36, 50, 0.5);;
}

/*What our users say style*/
.What-our-users-say-section{
    width: 1140px;
    height: 342px;
    margin:0px 150px 137px 150px;
    text-align: center;
}
.What-our-users-say-title{
    font-size: 42px;
    font-weight: bold;
}
.Loved-by-Designers{
    width: 1140px;
    height: 243px;
    margin-top:50px;
    display: flex;
    gap: 20px;
    text-align: left;
}
.Loved-by-Designers-div{
    width:366.67px;
    height: 243 px;
    background-color:#FFFFFF;
    padding: 24px;
    border-radius:10px;
}
.Loved-by-Designers-text{
    font-size:20px;
    margin-bottom:0px;
}
.Loved-by-Designers-avater-div{
    display: flex;
    gap: 6px;;
}
.Loved-by-Designers-avater-png{
    width:40px;
    height:40px;
    margin-top: 15px;
}
.avate-text{
    color:rgba(117, 117, 117, 1);
}
.avater-text-date{
    color: rgba(179, 179, 179, 1);
}
.Ready-to-focus-better-container{
    width: 1140px;
    height:697px;
    text-align: center;
    margin:137px 150px 92px 150px;
    background-color: #FFFFFF;
   
}
.Ready-to-focus-div{
    margin-bottom:0px;
}
.Ready-to-focus-better-title{
    font-size:60px;
    font-weight:bold;
    padding-top:50px;
}
.Ready-to-focus-better-parah{
    font-size:20px;
    margin-top:18px;
    font-size:18px;
    font-weight:normal;
}
.btn-div{
    margin-top:-40px;
}
.Ready-to-focus-better-btn{
    width:195px;
    height:48px;
    background-color: #4E47FF;
    border-radius:10px;
    font-size: 16px;
    border-style:none;
    color:#FFFFFF;
   
    
}
.Ready-to-focus-better-imag{
    width:840px;
    height:364.77px;
    margin-top:18px;
    border-radius:50px;
}

